@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

.anchor{
    color: white;
    border-radius: 4px;
    padding: 8px;
    line-height: 1.5;
    text-decoration: none;
}

#button1 {
    background-color: green;
}

#button2 {
    background-color: orange;
}

