body {
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
}

.page-content {
    max-width: 48%;
    padding: 0.5em 2.5em;
}

.page-content img{
    max-width: 63%;
    height: auto;
}

ul {
    list-style-type: square;
}

.aside {
    position: absolute;
    left: 52em;
}
